<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Login</h1>
            {% if check_login() %}
                <p class="link"><a href="{{ url_for('logout') }}">Logout</a></p>
            {% endif %}
        </header>
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}
        <form method="post" action="{{ url_for('login') }}">
            <label for="username">Username:</label>
            <input type="text" name="username" required>

            <label for="password">Password:</label>
            <input type="password" name="password" required>

            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
